{% extends 'base.html' %}

{% block title %}404 - Не существующий адрес{% endblock %}

{% block content %}
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-5">
        <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/404.jpg') }}" alt="" />
      </div>
      <div class="col-12 col-lg-7 my-5">
        <h1 class="mb-5">404</h1>
        <p>Не существующий адрес!</p>
        <p>
          <a href="{{ url_for('index_view') }}">Вернуться на главную</a>
        </p>
      </div>

    </div>
  </section>
{% endblock %}
